@import "tailwindcss";

@theme {
    --font-calsans: Cal Sans, sans-serif;
    --color-theme: #1F75FE;
    --color-theme-light: #5F9DFE;
}

@layer base{
    @font-face {
      font-family: 'Cal Sans';
      font-style: normal;
      src: url('../public/fonts/CalSans.ttf') format('truetype');
    }
  }